# want vi to be the default editor for readline                      
set bell-style none
set editing-mode vi                                            

set show-mode-in-prompt on
set vi-ins-mode-string '+'
set vi-cmd-mode-string ':'

# # vi settings                                         
$if mode=vi                
  # normal mode                           
  set keymap vi-command                                 
  Control-l: clear-screen
  # insert mode             
  set keymap vi-insert
  "jj": vi-movement-mode # remap escape 
  Control-l: clear-screen
$endif 

